apyori==1.1.2
dowhy==0.8
graphviz==0.20.2
matplotlib==3.8.4
mlxtend==0.23.1
numpy==2.0.0
openai==1.35.10
pandas==2.2.2
plotly==5.22.0
pycountry==24.6.1
pyfd==0.2.0
python-dotenv==1.0.1
scikit_learn==1.5.1
scipy==1.14.0
streamlit==1.36.0
z3_solver==4.13.0.0
openpyxl==3.1.5
pygraphviz
seaborn==0.13.2